.message{
    display: flex;
    padding: 5px;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    
}


.message-name{
    display: flex;
    width: 70px;
    padding: 0 5px;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    flex-wrap : nowrap;
    padding: 0 50px;
    color:grey;
    font-weight: unset;
}

.message-content{
    flex-grow: 1;
    padding-bottom: 5px;
    font-size: 13px;
}

.link{
    color : black;
}

.message-content:hover{
    color:#ff3385;
}

.message-date{
    font-size:0.7em;
    color:#999999;
}
.avatar{
    border-radius: 50px;
}


@media screen and (max-width: 800px ) {
    .message{
        display: flex;
        flex-direction: column;
    }

    .message-name{
        font-size: 15px;
        color:#737373;
    }

    .message-content{
       font-size: 14px;
       text-align: center;
    }
    .message-date{
        font-size:0.8em;
    }

}
