.settings-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 20vh;
    background-image: url(https://i.imgur.com/kXBNh0H.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
}

.looking-for {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: black;
    justify-content: center;
}

.settingsItem {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    color: black;
    width: 130px;
}

.first-setting {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    width: 50%;
    font-size: 18px;
    padding-top: 5vh;
    border-bottom-style: solid;
    border-color: #a6a6a6;
    border-width: 1px;
}

.setting {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    width: 50%;
    font-size: 18px;
    border-bottom-style: solid;
    border-color: #a6a6a6;
    border-width: 1px;
}

.last-setting {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    width: 50%;
    font-size: 24px;
}


.ui.toggle.checkbox input:checked ~ .box::before, .ui.toggle.checkbox input:checked ~ label::before {
    background-color: #E94B65!important;}

.ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
    background-color: #E94B65!important;}

@media only screen and (max-width: 600px) {
    .settings-container {
        padding-top: 10vh;
        align-items: center;
        background-size: 100%;
    }
    .first-setting {
        width: 40%;
    }
    .setting {
        width: 40%;
    }
    .last-setting {
        width: 40%;
    }
    .settings-item {
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    .settings-container {
        padding-top: 12vh;
        align-items: center;
        background-size: 100%;
    }
    .first-setting {
        width: 35%;
    }
    .setting {
        width: 35%;
    }
    .last-setting {
        width: 35%;
    }
}

@media only screen and (min-width: 768px) {
    .settings-container {
        padding-top: 15vh;
        align-items: center;
    }
    .first-setting {
        width: 30%;
    }
    .setting {
        width: 30%;

    }
    .last-setting {
        width: 30%;
    }
}

@media only screen and (min-width: 992px) {
    .settings-container {
        padding-top: 17vh;
        align-items: center;
    }
    .first-setting {
        width: 25%;
    }
    .setting {
        width: 25%;
    }
    .last-setting {
        width: 25%;
    }
}

@media only screen and (min-width: 1200px) {
    .settings-container {
        padding-top: 20vh;
        align-items: center;
    }
    .first-setting {
        width: 20%
    }
    .setting {
        width: 20%;
    }
    .last-setting {
        width: 20%;
    }
}